/* common shared styles */
body{
    font-family: 'Lato', sans-serif;
    font-family:'Open Sans',sans-serif ;
}
.text-primary{
    color: #FD6E0A;
}

.btn-primary{
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    font-size: 20px;
    font-family: normal;
    font-weight: 700;
    color: white;
    padding: 15px 35px;

}
.section-title{
    color: black;
    text-align: center;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;


}
.section-description{
    color: #0350a7;
    text-align: center;
    font-size: 18px;
}

/* nav related styles */
nav {
    display: flex;
     justify-content: space-between;
    align-items: center;
}
.nav-title {
    color: #181818; font-size: 45px; font-weight: 800;
}
nav > ul{
    display: flex;
    align-items: center;
    margin:0 200px;
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: #474747;
}
/* header related styles */
.header{
    background-color:rgb(135, 235, 230);
   
    background-position: bottom right;
}
.banner{
    padding:30px 0px 0px  150px;
    display: flex;
    align-items: center;
}
.banner-content{
    max-width: 800px;
}
.banner .profile-pc{
    width: 400px;
    height: 500px;
}
.banner-greeting{
    font-size: 45px;
    margin-bottom: 0px;
}
.banner-title{
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}
/* main section style */
main{
    max-width: 1140px;
    margin: 0 auto;
}
main section{
    margin-top: 130px;
}
/* about section styles */
.about{
    padding: 130px;
    border-radius: 10px;
    background-color: rgb(127, 225, 255);
    margin: 130px 0;
    
}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about-info{
    text-align: center;  font-style: bold;
}

/* skills releted styels */

#what-i-do-description{
    padding: 30px 150px;
}
.skills-container{
    display: flex;
    gap: 24px;
}
.skill{
    padding: 30px;
    background: #FFF;
     box-shadow:0px 6px 50px 0px rgb(0, 0, 0, 0.06) ;
}
.skill-description{
    color: #757575;
    
}
/* Resume section styels */
.resume-column-title{
    font-size: 30px;
    
    font-weight: 700;
   
}
.resume-container{
    display: flex;
    gap: 50px;
}
.resume-item-title{
    color: #474747;
    font-size: 25px;
  
    font-weight: 700;
    margin-bottom: 10px;
}

.resume-item-institute{
    margin-bottom: 20px;
    margin-top: 0px;
}


.resume-item-institute, .resume-item-description{
   color: #757575; 
}
.resume-container{
    margin: 30px;
}
.download-cv{
    text-align: center;
    margin-top: 50px;
}
/* footer styles */
footer{
    display: flex;
    gap: 100px;
    background-color: #FFF8F3;
    padding: 130PX 200PX;
    margin-top: 100PX;
}
.footer-column{
    width: 50%;
}
.footer-column a{
    margin-right: 25px;
}
.contact input[type="text"], .contact input[type="email"], textarea{
    display: block;
    margin-bottom: 25px;
    padding: 18px 35px;
    color: #757575;
    background: #FFF;
    border-radius: 5px;
    border: 0;
    width: 100%;
}
